<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taco Cloud</title>
    <link rel="stylesheet" href="styles/style.css">

</head>
 <body>

  <nav>
    <img src="images/taco-cloud.png" class="logo"/>
    <h1 class="header">Taco Cloud</h1>      
  </nav>

  <main>
    <form method="POST" th:object="${design}">

      <h1>Design Your Taco</h1>

      <!--Box for holding the ingredients-->
      <div class="grid">
        <!--Div for wrappers-->
        <div class="ingredient-group" id="wraps" >
          <h3>Designate your wrap:</h3>
          {{#wrap}}
          <div>
            <input type="checkbox" name="ingredients" {{id}}>
            <span>{{name}}</span>
            <br>
          </div>
          {{/wrap}}
        </div>
        <!--Div for proteins-->
        <div class="ingredient-group" id="proteins" >
          <h3>Pick your protein:</h3>
          {{#protein}}
          <div>
            <input type="checkbox" name="ingredients" {{id}}>
            <span>{{name}}</span>
            <br>
          </div>
          {{/protein}}
        </div>
        <!--Div for cheese-->
        <div class="ingredient-group" id="cheeses" >
          <h3>Choose your cheese:</h3>
          {{#cheese}}
          <div>
            <input type="checkbox" name="ingredients" {{id}}>
            <span>{{name}}</span>
            <br>
          </div>
          {{/cheese}}
        </div>
        <!--Div for veggies-->
        <div class="ingredient-group" id="veggies" >
          <h3>Determine your veggies:</h3>
          {{#veggies}}
          <div>
            <input type="checkbox" name="ingredients" {{id}}>
            <span>{{name}}</span>
            <br>
          </div>
          {{/veggies}}
        </div>
        <!--Div for sauce-->
        <div class="ingredient-group" id="sauce" >
          <h3>Select your sauce:</h3>
          {{#sauce}}
          <div>
            <input type="checkbox" name="ingredients" {{id}}>
            <span>{{name}}</span>
            <br>
          </div>
          {{/sauce}}
        </div>
      </div>
      <!--Div for form footer-->
      <div class="form-footer">
        <h3>Name your taco</h3>
        <input type="text" th:field="*{name}"> <!--th:field="*{name}"-->
        <br>
        <button>Submit your taco</button>
      </div>

    </form>
  </main>
 </body>
</html>